body { background: #ef7fd3; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 19px; display: flex; }
.block-cache-0 { color: #90f09f; font-size: 17px; margin-bottom: 5px; }
.block-email-1 { color: #3a1ca; font-size: 12px; margin-bottom: 5px; }
.block-cache-2 { color: #79bab9; font-size: 19px; margin-bottom: 5px; }
.block-helper-3 { color: #8c7d0e; font-size: 13px; margin-bottom: 5px; }
.block-cart-4 { color: #af8a05; font-size: 17px; margin-bottom: 5px; }
.block-router-5 { color: #6adf50; font-size: 20px; margin-bottom: 5px; }
.block-user-6 { color: #460f8a; font-size: 12px; margin-bottom: 5px; }
.block-cluster-7 { color: #ba13c9; font-size: 13px; margin-bottom: 5px; }